.punk-list {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  overflow-y: hidden;
}

.punk-list > div {
  cursor: pointer;
}

.punk-list::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.punk-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.punk-list::-webkit-scrollbar-thumb {
  background: #888;
}

.punk-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}